<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles.css'>
</head>
<body>
    <form action="/registration" method="POST">
        <div class="container">
        <hr>
           <h1>Registration</h1>
            <table name="tabela">
                <tr>
                    <td><label for="username"><b>Username:</b></label></td> 
                    <td><input type="text" placeholder="Enter username" name="username" id="username" required></td> 
                </tr>
                
                <tr>
                    <td><label for="psw"><b>Password:</b></label></td>
                    <td><input type="password" placeholder="Enter password" name="psw" id="psw" required></td>
                </tr>

                <tr>
                    <td><label for="psw-repeat"><b>Repeat password:</b></label></td>
                    <td><input type="password" placeholder="Repeat password" name="psw-repeat" id="psw-repeat" required></td>
                </tr>
                
                <tr>
                    <td><label for="firstname"><b>Firstname:</b></label></td>
                    <td><input type="text" placeholder="Enter firstname" name="firstname" id="firstname" required></td>
                </tr>
                
                <tr>
                    <td><label for="lastname"><b>Lastname:</b></label></td>
                    <td><input type="text" placeholder="Enter lastname" name="lastname" id="lastname" required></td>
                </tr>        
                <hr> 
                <tr>
                    <td><label for="gender"><b>Gender:</b></label></td>
                    <td>Male<input type="radio" value="Male" name="genderbtn" id="male">
                        Female<input type="radio" value="Female" name="genderbtn" id="female"></td>
                </tr>
                <tr>
                    <br><td><label for="date"><b>Date of birth:</b></label></td>
                    <td><input type="date" placeholder="Enter date" name="date" id="date" required></td>
                </tr>
            </table>

            <br><button class="registerbtn">Register</button>
 
        <div class="container signin">
            <br><p>Already have an account? <a href="/signin">Sign in</a>.</p>
        </div>
    </form>
</body>
</html>